
h1 {
    color:palevioletred;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: papayawhip;
    padding:50px;
    border: 5px; 
    border-color: rgb(185, 128, 157);
    border-style: dashed;
}
#spanId {
    font-size:18px;
    margin: 50px;
}
    